[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-sockets = "*"
gevent = "*"
flask-bootstrap = "*"
flask-nav = "*"
flask-wtf = "*"
flask-appconfig = "*"
iotapy = "*"
mosql = "*"
babel = "*"
gunicorn = "*"


[dev-packages]

