{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="card">
      <div class="card-block">
	<h4 class="card-title">About</h4>
	<h6 class="card-subtitle mb-2 text-muted">Louie Lu</h6>
	<p class="card-text">Author of <a href="https://github.com/mlouielu/iota-python">IOTA-Python</a> (IOTA Python Implementation).
	  NCTU Master CS Student - NEMS Lab</p>
	<a href="https://twitter.com/louielu_tw" class="card-link">Twitter</a>
	<a href="https://blog.louie.lu" class="card-link">blog</a>
	<a href="https://github.com/mlouielu" class="card-link">GitHub</a>
      </div>
    </div>
  {% endblock %}  
