{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
  <div class="row">
    <div class="col-sm-12">
      <h2>Latest Milestones</h2>
    </div>
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Milestone Hash</th>
            <th scope="col">Time</th>
            <th scope="col">Trunk</th>
            <th scope="col">Branch</th>
            <th scope="col">TrunkT</th>
            <th scope="col">TrunkB</th>
          </tr>
        </thead>
        <tbody>
          {% for m in milestones %}
          <tr>
            <th scope="row">{{ m.mindex }}</th>
            <td class="hash">{{ m.hash }}</td>
            <td>{{ m.timestamp | datetime }}</td>
            <td class="hash">{{ m.trunk }}</td>
            <td class="hash">{{ m.branch }}</td>
            <td class="hash">{{ m.trunkt }}</td>
            <td class="hash">{{ m.trunkb }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{%- endblock %}

