{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- milestone-list-top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2150681413995115"
     data-ad-slot="4268271511"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
  <div class="row">
    <div class="col-sm-12">
      {%- include "milestone.html" %}
      <nav aria-label="Page navigation example">
	<ul class="pagination">
	  <li class="page-item"><a class="page-link" href="?p={{ page-1 if page > 2 else 1}}">Previous</a></li>
	  {% for i in range(start, end) %}
	  <li class="page-item {{'active' if i == page}}"><a class="page-link" href="?p={{ i }}">{{ i }}</a></li>
	  {% endfor %}
	  <li class="page-item"><a class="page-link" href="?p={{ page+1 if page+1 < maxp else maxp}}">Next</a></li>
	</ul>
      </nav>
    </div>
  </div>

{%- endblock %}

